pre:not([class]),
/* input[type=search], */
div.offline-search-result,
div.alert,
section[id="feature_section"],
.pageinfo {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(85%);
    -webkit-filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(85%);
}

/* Main body excluding home page */
body.td-section {
    color: #e7e7e7;
    background-color: #1d1d1d;
}

/* Outer div on home page */
.td-home>.td-outer {
    background-color: #131313;
}

/* Left sidebar links */
.td-sidebar-nav__section-title a {
    color: #e7e7e7;
}

/* Panel lines (separators) */
.panel-line {
    border-top: 1px solid #dee2e6;
}

/* Pre-formatted blocks without a language class */
pre:not([class]) {
    background-color: #ffffff;
}

/* Table borders */
.td-content th,
.td-content td {
    border: 1px solid #929292;
}

/* Search inputs */
.td-search-input.form-control:focus {
    color: #1d1d1d;
}

/* ToC */
.td-toc #TableOfContents a {
    color: #8f8f8f;
}

/* Alerts */
/* Print page info */
div.alert,
.pageinfo {
    color: #1d1d1d;
    background-color: #ffffff !important;
}

/* Tabbed panes */
.tab-content .tab-pane {
    background-color: #242424;
}

.nav-tabs .nav-link.active {
    background-color: inherit;
    color: inherit;
    border-bottom-color: transparent;
}

/* Block quotes */
.td-content>blockquote {
    color: #8f8f8f;
}

/* Revert inversion on Azure Stack home page icons */
.azure-stack-icon {
    filter: hue-rotate(180deg) contrast(100%) invert(100%);
    -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
}
