/*

Add styles or override variables from the theme here.

*/

$primary: #0076CE;
$danger: #CE1126;
$warning: #F2AF00;
// #EE6411 orange

;

$td-enable-google-fonts: true;

$google_font_name: "Arial", "Helvetica", "sans-serif";
